@use '../util' as *;

// $grid-columns: 5;

.guess {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: rem(5);
    width: 100%;
    margin-bottom: rem(5);
    box-sizing: border-box;

    &__tile {
        border: rem(2) solid hsl(0, 0%, 26%);
        width: rem(53);
        height: rem(53);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem(32);
        font-weight: 600;
    }
    
    .has-letter {
        border-color: hsl(210, 1%, 34%);
    }

    .match {
        background-color: hsl(115, 29%, 43%);
        border-color: hsl(115, 29%, 43%);
    }

    .present {
        background-color: hsl(49, 51%, 47%);
        border-color: hsl(49, 51%, 47%);
    }

    .absent {
        background-color: hsl(240, 2%, 23%);
        border-color: hsl(240, 2%, 23%);
    }
}

